
img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
}
H1{
    color: #6A58CE;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}    

form {
    background-color: #6A58CE;
    border: 1px;
    width: 60%;
    height: 50%;
    margin-left: 240px;
    
}

label{
   display: inline-block; 
   width: 230px;
   margin: 10px;
   color: white;
   
}

table{
    display: inline-block;
    width: 230px;
    margin: 10px;
    color: white;
    
    
}

input{
    height: 22px;
    width: 120px;
  
}

div{
        
    
    margin-left: 300px;
    
}


